docs/n8n-workflow-local.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kb-ingest",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b0747d38-6fe6-4512-a246-c50d579e310f",
      "name": "Webhook",
      "webhookId": "89d4e6cc-8a9c-4c5e-95c4-2f6cd8098e05"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal/api/kb/documents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 16|ZIIuPcnlXJ2ApEdoiEyChMMYTeStHn4iTO44N7Qf4fc236e5"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Idempotency-Key",
              "value": "={{$json.body.idempotency_key}}"
            },
            {
              "name": "Host",
              "value": "ai-faq-assistant.test"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{$json.body.title}}"
            },
            {
              "name": "source_type",
              "value": "={{$json.body.source_type}}"
            },
            {
              "name": "source_ref",
              "value": "={{$json.body.source_ref}}"
            },
            {
              "name": "raw_text",
              "value": "={{$json.body.raw_text}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "4e0b709a-461e-4bae-8a18-30ff96303919",
      "name": "Create document"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal/api/kb/documents/{{$node[\"Create document\"].json[\"id\"]}}/index",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 16|ZIIuPcnlXJ2ApEdoiEyChMMYTeStHn4iTO44N7Qf4fc236e5"
            },
            {
              "name": "Host",
              "value": "ai-faq-assistant.test"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "3cb6fb9c-9427-4168-b873-bcac6817ed09",
      "name": "Index document"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal/api/kb/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 16|ZIIuPcnlXJ2ApEdoiEyChMMYTeStHn4iTO44N7Qf4fc236e5"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Host",
              "value": "ai-faq-assistant.test"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"search_query\"]}}"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        0
      ],
      "id": "2a04dcb5-b8b3-459a-9117-8fad96e78963",
      "name": "Search"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create document": {
      "main": [
        [
          {
            "node": "Index document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Index document": {
      "main": [
        [
          {
            "node": "Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "19353a08-20b7-43c1-bbb4-a8f3090a4894",
  "meta": {
    "instanceId": "9db672c6d2ea125eee0deb3270580f8e6c223d09fed7fc84c6abba2faec8a57d"
  },
  "id": "wDQSNw5zqk2NTb1rWyLrm",
  "tags": []
}
